/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$primary: #f7cb15;
$secondary: #4cb5ae;
$dark: #12131d;
$light: #cedfd9;
$info: #177e89;

$body-bg: $dark;
$body-color: $light;
